/*+++++++++ fonts +++++++++*/
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "din";
  src: url("../webfonts/din-next-lt-w23-regular.ttf");
}
/*+++++++++ mixins +++++++++*/
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
/*+++++++++ global +++++++++*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 32px;
  scroll-behavior: smooth;
  font-family: "din", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: unset;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #eee;
  height: 300px;
}

/*+++++++++ colors +++++++++*/
body {
  direction: rtl;
  position: relative;
  overflow-x: hidden;
}
body header {
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 999;
  position: absolute;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  transition: position 0.3s ease-in-out;
}
body header.sticky {
  position: fixed;
  animation: fadeInDown 0.5s ease-in-out forwards;
}
body header nav {
  display: flex;
  padding: 0;
  height: 100%;
}
body header nav .logo {
  flex: 1;
  gap: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
body header nav .logo img {
  height: 80px;
}
body header nav .logo .lang_toggler {
  border-radius: 12px;
  border: 1px solid #81a63d;
  padding: 4px 12px;
  color: #81a63d;
  font-size: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
}
body header nav .logo .lang_toggler img {
  height: 18px;
}
body header nav .nav_links {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header nav .nav_links ul {
  height: 100%;
  display: flex;
}
body header nav .nav_links ul li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}
body header nav .nav_links ul li a {
  font-size: 16px;
  color: #31535a;
  transition: 0.2s ease-in-out;
}
body header nav .nav_links ul li a.active, body header nav .nav_links ul li a:hover {
  color: #81a63d;
}
body header nav .nav_links ul li .drop {
  font-size: 16px;
  color: #31535a;
  cursor: pointer;
  position: relative;
}
@media (max-width: 992px) {
  body header nav .nav_links {
    display: none;
  }
}
body header nav .utils {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
body header nav .utils ul {
  height: 100%;
  display: flex;
}
body header nav .utils ul li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
}
body header nav .utils ul li a {
  color: #31535a;
}
body header nav .utils ul li .search_btn {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #81a63d;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header nav .utils ul li .search_btn i {
  color: #81a63d;
  font-size: 14px;
}
body header .drop_menu {
  position: absolute;
  top: 40px;
  background: #fff;
  padding: 8px 20px 8px 36px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
body header .drop_menu ul {
  flex-direction: column;
}
body header .drop_menu ul .nav_link {
  padding: 0;
  justify-content: flex-start;
}
body main {
  padding-top: 100px;
  min-height: calc(100vh - 100px);
}
body main .auth {
  background-image: url(../images/auth-bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .auth .form_wrapper {
  width: min(100% - 32px, 1042px);
  min-height: 460px;
  background: #fff;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  display: flex;
  overflow: hidden;
}
body main .auth .form_wrapper .form_container {
  width: 50%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
body main .auth .form_wrapper .form_container .logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .auth .form_wrapper .form_container .logo img {
  height: 100px;
}
body main .auth .form_wrapper .form_container .welcome h4 {
  color: #1f1f1f;
  font-size: 28px;
  font-weight: 600;
}
body main .auth .form_wrapper .form_container .welcome p {
  color: #777777;
  margin-bottom: 0;
}
body main .auth .form_wrapper .form_container .forgot a {
  color: #31535a;
  transition: 0.3s ease-in-out;
}
body main .auth .form_wrapper .form_container .forgot a:hover {
  color: #81a63d;
}
body main .auth .form_wrapper .form_container .continue {
  line-height: 26px;
  margin-bottom: 0;
  font-size: 16px;
  color: #31535a;
}
body main .auth .form_wrapper .form_container .continue a {
  line-height: inherit;
  color: #81a63d;
}
body main .auth .form_wrapper .form_container .reset_otp_title {
  padding: 0 16px;
  text-align: center;
  margin-top: 24px;
}
body main .auth .form_wrapper .form_container .reset_otp_title p {
  font-size: 18px;
  color: #31535a;
  margin-bottom: 0;
  font-weight: 500;
  cursor: pointer;
}
body main .auth .form_wrapper .form_container .reset_otp_title p span {
  color: #81a63d;
}
body main .auth .form_wrapper .form_container .resend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1f1f1f;
  font-size: 16px;
}
body main .auth .form_wrapper .form_container .resend p {
  margin-bottom: 0;
}
body main .auth .form_wrapper .form_container .resend .counterDown {
  font-weight: 600;
}
body main .auth .form_wrapper .page_preif {
  width: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8392156863), rgba(0, 0, 0, 0.8078431373)), url(../images/auth_thumb.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 32px;
}
body main .auth .form_wrapper .page_preif .content {
  z-index: 2;
}
body main .auth .form_wrapper .page_preif .content .circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff;
}
body main .auth .form_wrapper .page_preif .content h1 {
  margin-top: 12px;
  color: #fff;
  font-size: 48px;
  margin-bottom: 16px;
}
body main .auth .form_wrapper .page_preif .content p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 4px;
}
body main .auth .form_wrapper .page_preif .content h6 {
  font-size: 18px;
  color: #fff;
}
body main .auth .form_wrapper .page_preif .content h6 a {
  color: #81a63d;
}
body .form-ui {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body .form-ui .input-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}
body .form-ui .input-field .pass-group {
  display: flex;
}
body .form-ui .input-field .pass-group button {
  border: none;
  background: none;
  outline: none;
  width: 60px;
  height: 54px;
  border: 1px solid #f2f2f2;
  background: #f8f8f8;
  border-right: 0;
  border-radius: 12px 0 0 12px !important;
  color: #aaaaaa;
}
body .form-ui .input-field .pass-group input {
  border-left: 0 !important;
  border-radius: 0 12px 12px 0 !important;
}
body .form-ui .input-field input,
body .form-ui .input-field textarea,
body .form-ui .input-field select {
  width: 100%;
  height: 54px;
  direction: rtl;
  outline: none;
  border: 1px solid #f2f2f2;
  border-radius: 12px;
  background: #f8f8f8;
  padding: 12px 16px;
  font-size: 14px;
}
body .form-ui .input-field textarea {
  height: 152px;
}
body .form-ui .input-field label {
  color: #1f1f1f;
  font-weight: 500;
  font-size: 14px;
}
body .form-ui .phone-group .PhoneInput {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
}
body .form-ui .phone-group .PhoneInput input {
  direction: ltr;
}
body .form-ui .phone-group .PhoneInput .PhoneInputCountryIcon {
  position: relative;
}
body .form-ui .phone-group .PhoneInput .PhoneInputCountryIconImg {
  width: 20px;
  position: absolute;
  top: -32px;
  left: 14px;
}
body .form-ui .phone-group .PhoneInput select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: left;
  padding: 12px 6px 12px 42px;
}
body .form-ui .phone-group .phone-code {
  height: 54px;
  border-radius: 4px;
}
body .form-ui .form_group {
  display: flex;
  gap: 8px;
}
body .form-ui .image-change-wrapper {
  border-radius: 12px;
  border: 1px solid #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
}
body .form-ui .image-change-wrapper .img-wrap {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .form-ui .image-change-wrapper .img-wrap img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
body .form-ui .image-change-wrapper .upload input {
  display: none;
}
body .form-ui .image-change-wrapper .upload .plus {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #81a63d;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body .form-ui .image-change-wrapper .upload .plus i {
  font-size: 14px;
  color: #fff;
}
body .form-ui .otp-container {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  direction: ltr !important;
}
body .form-ui .otp-container .otp-input {
  border-radius: 12px;
  flex: 1;
  width: inherit;
  height: 80px !important;
  text-align: center;
  border: 1px solid #f2f2f2;
  background: #f8f8f8;
  font-size: 28px;
  font-weight: 600;
  color: #31535a !important;
  outline: none;
}
body .form-ui .otp-container .otp-input::-webkit-inner-spin-button {
  display: none;
}
body .form-ui .save {
  width: 100%;
  height: 54px;
  border-radius: 12px;
  background: #81a63d;
  color: #fff;
  margin-top: 12px;
}
body .gender_select {
  display: flex;
  flex-direction: column;
}
body .gender_select .gender_card {
  display: flex;
  gap: 8px;
  background-color: #f8f8f8;
  color: #1f1f1f;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 1px solid #f2f2f2;
  padding: 12px 16px;
  transition: 0.3s;
  cursor: pointer;
  font-weight: 400 !important;
  font-size: 14px;
  width: 100%;
}
body .gender_select .gender_card img {
  height: 30px;
  width: 30px;
}
body .gender_select .gender_card:hover {
  background-color: #dce9c4;
}
body .gender_select .gender_card.active {
  border: 1px solid #81a63d;
  background-color: #dce9c4;
}
body .gender_select > div {
  display: flex;
  gap: 8px;
}
body .gender_select input {
  visibility: hidden;
}
body .gender_select label {
  font-weight: 500;
}
body.en {
  direction: ltr;
}
body.en header .drop_menu {
  padding: 8px 36px 8px 20px;
}
body.en .form-ui .input-field input {
  direction: ltr;
}
body.en .form-ui .input-field .pass-group button {
  border-radius: 0 12px 12px 0 !important;
  border-left: 0 !important;
  border-right: 1px solid #f2f2f2 !important;
}
body.en .form-ui .input-field .pass-group input {
  border-radius: 12px 0 0 12px !important;
  border-right: 0 !important;
  border-left: 1px solid #f2f2f2 !important;
}/*# sourceMappingURL=global.css.map */