/*+++++++++ fonts +++++++++*/
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: "din";
  src: url('../webfonts/din-next-lt-w23-regular.ttf');
}
/*+++++++++ mixins +++++++++*/
@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

/*+++++++++ global +++++++++*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 32px;
  scroll-behavior: smooth;
  font-family: "din", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background-color: unset;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background: #eee;
  height: 300px;
}
/*+++++++++ colors +++++++++*/
$main: #31535a;
$secondary: #81a63d;
$second20: #dce9c4;
$border: #dddddd;
$inputBG: #f8f8f8;
$inputHint: #aaaaaa;
$gray: #777777;
$lightGray: #eeeeee;
$white: #fff;
$inputStroke: #f2f2f2;
$dark: #1f1f1f;
$mainShadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
$transation: 0.3s ease-in-out;

body {
  direction: rtl;
  position: relative;
  overflow-x: hidden;
  header {
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 999;
    position: absolute;
    background: $white;
    box-shadow: $mainShadow;
    transition: position 0.3s ease-in-out;
    &.sticky {
      position: fixed;
      animation: fadeInDown 0.5s ease-in-out forwards;
    }
    nav {
      display: flex;
      padding: 0;
      height: 100%;
      .logo {
        flex: 1;
        gap: 32px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img {
          height: 80px;
        }
        .lang_toggler {
          border-radius: 12px;
          border: 1px solid $secondary;
          padding: 4px 12px;
          color: $secondary;
          font-size: 16px;
          display: flex;
          gap: 8px;
          align-items: center;
          img {
            height: 18px;
          }
        }
        .menu-btn {
          cursor: pointer;
          width: 30px;
          height: 30px;
          display: none;
          z-index: 2;
          flex: 1;
          @media (max-width: 992px) {
            @include centerFlex();
            justify-content: flex-end;
          }
          .menu-bar {
            position: relative;
            height: 2px;
            width: 28px;
            background-color: $secondary;
            transition: 0.5s ease;
            &::before {
              content: "";
              display: block;
              position: absolute;
              top: -9px;
              left: 0;
              height: 2px;
              width: 100%;
              background-color: $secondary;
              transition: 0.5s ease;
            }
            &::after {
              content: "";
              display: block;
              position: absolute;
              bottom: -9px;
              left: 0;
              height: 2px;
              width: 100%;
              background-color: $secondary;
              transition: 0.5s ease;
            }
            &.active {
              background-color: transparent;
              transform: rotate(90deg);
              &::before {
                -webkit-transform: translate(0px, 10px) rotate(135deg);
                transform: translate(0px, 9px) rotate(135deg);
              }
              &::after {
                -webkit-transform: translate(0px, -10px) rotate(-135deg);
                transform: translate(0px, -9px) rotate(-135deg);
              }
            }
          }
        }
        @media (max-width: 992px) {
          justify-content: space-between;
        }
      }
      .nav_links {
        flex: 2;
        @include centerFlex();
        ul {
          height: 100%;
          display: flex;
          li {
            height: 100%;
            @include centerFlex();
            padding: 0 16px;
            a {
              font-size: 16px;
              color: $main;
              transition: .2s ease-in-out;
              &.active,
              &:hover {
                color: $secondary;
              }
            }
            .drop {
              font-size: 16px;
              color: $main;
              cursor: pointer;
              position: relative;
            }
            &.hide-lg {
              display: none;
            }
          }
        }
        @media (max-width: 992px) {
          background: $white;
          margin-top: 100px;
          height: calc(100vh - 100px);
          position: absolute;
          right: -100%;
          width: 100%;
          transition: $transation;
          ul {
            flex-direction: column;
            justify-content: center;
            li {
              height: fit-content;
              padding: 8px 0;
              &.hide-lg {
                display: flex;
              }
            }
          }
          &.active {
            right: 0;
          }
        }
      }
      .utils {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        ul {
          height: 100%;
          display: flex;
          li {
            height: 100%;
            @include centerFlex();
            padding: 0 6px;
            a {
              color: $main;
            }
            .search_btn {
              cursor: pointer;
              width: 36px;
              height: 36px;
              border-radius: 50%;
              border: 1px solid $secondary;
              @include centerFlex();
              i {
                color: $secondary;
                font-size: 14px;
              }
            }
          }
        }
        @media (max-width: 992px) {
          display: none;
        }
      }
    }
    .drop_menu {
      position: absolute;
      top: 40px;
      background: $white;
      padding: 8px 20px 8px 36px;
      border-radius: 12px;
      box-shadow: $mainShadow;
      ul {
        flex-direction: column;
        .nav_link {
          padding: 0;
          justify-content: flex-start;
        }
      }
    }
  }
  main {
    padding-top: 100px;
    min-height: calc(100vh - 100px);
    .auth {
      background-image: url(../images/auth-bg.jpg);
      background-size: cover;
      background-position: center;
      padding: 60px 0;
      @include centerFlex();
      .form_wrapper {
        width: min(100% - 32px, 1042px);
        min-height: 460px;
        background: $white;
        border-radius: 24px;
        box-shadow: $mainShadow;
        display: flex;
        overflow: hidden;
        @media (max-width: 992px) {
          flex-direction: column;
        }
        .form_container {
          width: 50%;
          padding: 24px;
          display: flex;
          flex-direction: column;
          gap: 12px;
          .logo {
            width: 100%;
            @include centerFlex();
            img {
              height: 100px;
            }
          }
          .welcome {
            h4 {
              color: $dark;
              font-size: 28px;
              font-weight: 600;
            }
            p {
              color: $gray;
              margin-bottom: 0;
            }
          }
          .forgot a {
            color: $main;
            transition: $transation;
            &:hover {
              color: $secondary;
            }
          }
          .continue {
            line-height: 26px;
            margin-bottom: 0;
            font-size: 16px;
            color: $main;
            a {
              line-height: inherit;
              color: $secondary;
            }
          }
          .reset_otp_title {
            padding: 0 16px;
            text-align: center;
            margin-top: 24px;
            p {
              font-size: 18px;
              color: $main;
              margin-bottom: 0;
              font-weight: 500;
              cursor: pointer;
              span {
                color: $secondary;
              }
            }
          }
          .resend {
            @include space-between();
            color: $dark;
            font-size: 16px;
            p {
              margin-bottom: 0;
            }
            .counterDown {
              font-weight: 600;
            }
          }
          .tabs {
            width: 100%;
            border-bottom: 2px solid $inputStroke;
            margin-bottom: 12px;
            button {
              @include clearInput();
              padding: 0 12px;
              position: relative;
              font-size: 16px;
              font-weight: 500;
              transition: $transation;
              color: $dark;
              @media (max-width: 576px) {
                font-size: 14px;
              }
              &::after {
                content: "";
                position: absolute;
                bottom: -2px;
                width: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 2px;
                background: $main;
                transition: $transation;
              }
              &.active {
                color: $main;
                &::after {
                  width: 100%;
                }
              }
            }
          }
          @media (max-width: 992px) {
            width: 100%;
          }
        }
        .page_preif {
          width: 50%;
          background-image: linear-gradient(#000000d6, #000000ce),
            url(../images/auth_thumb.jpeg);
          background-size: cover;
          background-position: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 64px 32px;
          .content {
            z-index: 2;
            .circle {
              width: 48px;
              height: 48px;
              border-radius: 50%;
              background: $white;
            }
            h1 {
              margin-top: 12px;
              color: $white;
              font-size: 48px;
              margin-bottom: 16px;
              @media (max-width: 576px) {
                font-size: 36px;
              }
            }
            p {
              color: $white;
              font-size: 18px;
              margin-bottom: 4px;
              @media (max-width: 576px) {
                font-size: 14px;
                line-height: 24px;
              }
            }
            h6 {
              font-size: 18px;
              color: $white;
              a {
                color: $secondary;
              }
              @media (max-width: 576px) {
                font-size: 14px;
                line-height: 24px;
              }
            }
          }
          @media (max-width: 992px) {
            width: 100%;
          }
        }
      }
    }
    .hero_section {
      padding: 60px 0;
      @media (max-width: 576px) {
        padding: 24px 0;
      }
      .video_wrapper {
        width: 100%;
        height: 100%;
        min-height: 330px;
        border-radius: 6px;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        isolation: isolate;
        .play-btn {
          cursor: pointer;
          width: 80px;
          height: 80px;
          background: $secondary;
          border-radius: 50%;
          display: flex;
          position: relative;
          align-items: center;
          justify-content: center;
          i {
            font-size: 28px;
            color: #fff;
          }
        }
        .waves {
          position: absolute;
          width: 180px;
          height: 180px;
          background: #ffffff6d;
          opacity: 0;
          filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
          border-radius: 100%;
          right: -50px;
          bottom: -50px;
          z-index: -1;
          -webkit-animation: waves 3s ease-in-out infinite;
          animation: waves 3s ease-in-out infinite;
        }
        .wave-1 {
          -webkit-animation-delay: 0s;
          animation-delay: 0s;
        }
        .wave-2 {
          -webkit-animation-delay: 1s;
          animation-delay: 1s;
        }
        .wave-3 {
          -webkit-animation-delay: 2s;
          animation-delay: 2s;
        }
        @keyframes waves {
          0% {
            -webkit-transform: scale(0.2, 0.2);
            transform: scale(0.2, 0.2);
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
          }
          50% {
            opacity: 0.9;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
          }
          100% {
            -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
          }
        }
      }
      .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
          font-size: 48px;
          color: $secondary;
          margin-bottom: 16px;
          @media (max-width: 576px) {
            font-size: 32px;
          }
        }
        p {
          color: $main;
        }
      }
    }
  }
  footer {
    padding: 60px 8px 16px;
    .img {
      img {
        height: 120px;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        padding-left: 16px;
        a {
          color: $main;
          font-weight: 500;
          transition: $transation;
          &:hover {
            color: $secondary;
          }
        }
      }
    }
    .about {
      padding-left: 62px;
      @media (max-width: 576px) {
        padding: 0;
      }
      p {
        font-size: 14px;
        font-weight: 600;
        color: $main;
        line-height: 26px;
      }
      .social {
        display: flex;
        margin-top: 16px;
        gap: 12px;
        li {
          padding: 0 !important;
        }
        a {
          width: 40px;
          height: 40px;
          @include centerFlex();
          background: $secondary;
          border-radius: 50%;
          transition: $transation;
          i {
            color: $white;
          }
          img {
            height: 16px;
          }
          &:hover {
            background: $main;
            transform: translateY(-4px);
          }
        }
      }
    }
    h3 {
      color: $main;
      font-weight: 600;
      font-size: 24px;
      @media (max-width: 992px) {
        margin-top: 32px;
      }
    }
    .copy {
      @include centerFlex();
      margin-top: 16px;
      padding-top: 16px;
      border-top: 1px solid #eee;
      p {
        color: $main;
        line-height: 26px;
        a {
          color: $secondary;
        }
      }
    }
  }
  .form-ui {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .input-field {
      width: 100%;
      display: flex;
      flex-direction: column;
      .pass-group {
        display: flex;
        button {
          @include clearInput();
          width: 60px;
          height: 54px;
          border: 1px solid $inputStroke;
          background: $inputBG;
          border-right: 0;
          border-radius: 12px 0 0 12px !important;
          color: $inputHint;
        }
        input {
          border-left: 0 !important;
          border-radius: 0 12px 12px 0 !important;
        }
      }
      input,
      textarea,
      select {
        width: 100%;
        height: 54px;
        direction: rtl;
        outline: none;
        border: 1px solid $inputStroke;
        border-radius: 12px;
        background: $inputBG;
        padding: 12px 16px;
        font-size: 14px;
        color: $dark;
      }
      textarea {
        height: 152px;
      }
      label {
        color: $dark;
        font-weight: 500;
        font-size: 14px;
      }
    }
    .phone-group {
      .PhoneInput {
        display: flex;
        flex-direction: row-reverse;
        gap: 8px;
        input {
          direction: ltr;
        }
        .PhoneInputCountryIcon {
          position: relative;
        }
        .PhoneInputCountryIconImg {
          width: 20px;
          position: absolute;
          top: -32px;
          left: 14px;
        }
        select {
          appearance: none;
          text-align: left;
          padding: 12px 6px 12px 42px;
        }
      }
      .phone-code {
        height: 54px;
        border-radius: 4px;
      }
    }
    .form_group {
      display: flex;
      gap: 8px;
    }
    .image-change-wrapper {
      border-radius: 12px;
      border: 1px solid $inputStroke;
      @include centerFlex();
      flex-direction: column;
      padding: 16px;
      .img-wrap {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: 1px solid $inputStroke;
        overflow: hidden;
        @include centerFlex();
        img {
          width: 100%;
          height: 100%;
          aspect-ratio: 1/1;
          object-fit: contain;
          object-position: center;
        }
      }
      .upload {
        input {
          display: none;
        }
        .plus {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: $secondary;
          @include centerFlex();
          cursor: pointer;
          i {
            font-size: 14px;
            color: $white;
          }
        }
      }
    }
    .otp-container {
      display: flex;
      align-items: center;
      gap: 12px;
      width: 100%;
      direction: ltr !important;
      @media (max-width: 576px) {
        gap: 8px;
      }
      .otp-input {
        border-radius: 12px;
        flex: 1;
        width: inherit;
        height: 80px !important;
        text-align: center;
        border: 1px solid $inputStroke;
        background: $inputBG;
        font-size: 28px;
        font-weight: 600;
        color: $main !important;
        outline: none;
        &::-webkit-inner-spin-button {
          display: none;
        }
        @media (max-width: 576px) {
          height: 60px !important;
        }
      }
    }
    .save {
      width: 100%;
      height: 54px;
      border-radius: 12px;
      background: $secondary;
      color: $white;
      margin-top: 12px;
    }
  }
  .gender_select {
    display: flex;
    label {
      font-size: 14px;
    }
    flex-direction: column;
    .gender_card {
      display: flex;
      gap: 8px;
      background-color: $inputBG;
      color: $dark;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      border: 1px solid $inputStroke;
      padding: 12px 16px;
      transition: 0.3s;
      cursor: pointer;
      font-weight: 400 !important;
      font-size: 14px;
      width: 100%;
      img {
        height: 30px;
        width: 30px;
      }
      &:hover {
        background-color: $second20;
      }
      &.active {
        border: 1px solid $secondary;
        background-color: $second20;
      }
    }
    & > div {
      display: flex;
      gap: 8px;
    }
    input {
      visibility: hidden;
    }
    label {
      font-weight: 500;
    }
  }
  // ltr mode override
  &.en {
    direction: ltr;
    header {
      .drop_menu {
        padding: 8px 36px 8px 20px;
      }
    }
    .form-ui {
      .input-field {
        input {
          direction: ltr;
        }
        .pass-group {
          button {
            border-radius: 0 12px 12px 0 !important;
            border-left: 0 !important;
            border-right: 1px solid $inputStroke !important;
          }
          input {
            border-radius: 12px 0 0 12px !important;
            border-right: 0 !important;
            border-left: 1px solid $inputStroke !important;
          }
        }
      }
    }
    footer {
      .about {
        padding-right: 62px;
        padding-left: 0;
      }
      ul li {
        padding-left: 0;
        padding-right: 16px;
      }
    }
  }
}
.Toastify__toast-body > div:last-child {
  line-height: 24px;
}
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: $white;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  &::after,
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
  }
  &::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: $secondary;
    border-radius: 10px;
  }
  &::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
  }
  &:hover {
    &::before {
      transform: translate(5%, 20%);
      width: 110%;
      height: 110%;
    }
    &::after {
      border-radius: 10px;
      transform: translate(0, 0);
      width: 100%;
      height: 100%;
    }
  }
  &:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  }
}
.modal-header {
  border-bottom: 0;
  .btn-close {
    box-shadow: none !important;
    background-image: url("../images/close.svg");
  }
}
.modal-body {
  padding: 0 12px 12px;
  video {
    width: 100%;
    height: 300px;
  }
}
@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    right: 0;
    left: initial;
  }
}
