/*+++++++++ fonts +++++++++*/
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: "din";
  src: url('../webfonts/din-next-lt-w23-regular.ttf');
}
/*+++++++++ mixins +++++++++*/
@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

/*+++++++++ global +++++++++*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 32px;
  scroll-behavior: smooth;
  font-family: "din", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
body {
  direction: rtl;
  position: relative;
  overflow-x: hidden;
  &.en {
    direction: ltr;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background-color: unset;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background: #eee;
  height: 300px;
}
/*+++++++++ colors +++++++++*/
$main: #31535a;
$secondary: #81a63d;
$border: #dddddd;
$inputBG: #f8f8f8;
$inputHint: #aaaaaa;
$gray: #777777;
$lightGray: #eeeeee;
$white: #fff;
$inputStroke: #f2f2f2;
$mainShadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
$transation: 0.3s ease-in-out;

header {
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  position: absolute;
  background: $white;
  box-shadow: $mainShadow;
  transition: position 0.3s ease-in-out;
  &.sticky {
    position: fixed;
    animation: fadeInDown 0.5s ease-in-out forwards;
  }
  nav {
    display: flex;
    padding: 0;
    height: 100%;
    .logo {
      flex: 1;
      gap: 32px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      img {
        height: 80px;
      }
      .lang_toggler {
        border-radius: 12px;
        border: 1px solid $secondary;
        padding: 4px 12px;
        color: $secondary;
        font-size: 16px;
        display: flex;
        gap: 8px;
        align-items: center;
        img {
          height: 18px;
        }
      }
    }
    .nav_links {
      flex: 2;
      @include centerFlex();
      ul {
        height: 100%;
        display: flex;
        li {
          height: 100%;
          @include centerFlex();
          padding: 0 16px;
          a {
            font-size: 16px;
            color: $main;
            transition: .2s ease-in-out;
            &.active,
            &:hover {
              color: $secondary;
            }
          }
          .drop {
            font-size: 16px;
            color: $main;
            cursor: pointer;
            position: relative;
          }
        }
      }
    }
    .utils {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      ul {
        height: 100%;
        display: flex;
        li {
          height: 100%;
          @include centerFlex();
          padding: 0 6px;
          a {
            color: $main;
          }
          .search_btn {
            cursor: pointer;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            border: 1px solid $secondary;
            @include centerFlex();
            i {
              color: $secondary;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .drop_menu {
    position: absolute;
    top: 40px;
    background: $white;
    padding: 8px 20px 8px 36px;
    border-radius: 12px;
    box-shadow: $mainShadow;
    ul {
      flex-direction: column;
      .nav_link {
        padding: 0;
        justify-content: flex-start;
      }
    }
  }
}
main {
  padding-top: 100px;
  min-height: calc(200vh - 100px);
}
